
/*******header*******/
.header{
  background: #0193dc;
  color: #fff;
}



.nav-link:hover{
 color:#ff2868 !important;
}

.nav-link:active {

  color:#ff2868 !important;

}

.navbar-nav {
  position: relative;

}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,1); /*dim the background*/
  opacity: 0;
 
}



/*****header *********/
/*********banner ********/


.topbanner h1 {
    font-size: 71px;
    letter-spacing: 5px;
    line-height: 70px;
    color: #fff;
    font-family:  sans-serif;
}

.topbanner p {
    font-size: 24px;
    line-height: 42px;
    color: #bbd8ff;
    padding: 20px 0 50px;
}


.topbanner a {
    max-width: 217px;
    border-radius: 50px;
    background: #25365d;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
}


.topbanner a:hover {
  background: #ff2868;
}

.banner {
    background: url(../img/banner.jpg) no-repeat center center;
    background-size: cover;
    min-height: 1338px;
    display: block;
    color:#fff;
}
/*****************************/
