
/*******header*******/
.header{
  background: #0193dc;
  color: #fff;
}


/********add font***************/
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.ttf);
}

/******************/
.nav-link:hover{
 color:#ff2868 !important;
}

.active {

  color:#ff2868 !important;

}


nav ul li a {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
}

nav ul li {
    
    padding-right: 20px;
}






/*****header *********/
/*********banner ********/


.topbanner h1 {
    font-size: 71px;
    letter-spacing: 5px;
    line-height: 70px;
    color: #fff;
    font-family:  Oswald,sans-serif;
}

.topbanner p {
    font-size: 30px;
    line-height: 42px;
    color: #bbd8ff;
    padding: 20px 0 50px;
}


.topbanner >a {
    max-width: 217px;
    border-radius: 50px;
    background: #25365d;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
}


.topbanner a:hover {
  background: #ff2868;
}

.banner {
    background: url(../img/banner.jpg) no-repeat center center;
    background-size: cover;
    min-height: 1338px;
    display: block;
    color:#fff;
    padding-top: 200px;
}


@media (max-width: 576px) { 

  .banner {
 padding-top: 100px; 
}

.topbanner h1 {
    font-size: 22px;
    line-height: 28px;
    letter-spacing:2px;
   
}

.topbanner p {
    font-size: 16px;
   
}


 }

 @media (max-width: 766px) and (min-width:576px) { 

  .banner {
 padding-top: 100px; 
}

.topbanner h1 {
    font-size: 30px;
    line-height: 40px;

   
}

.topbanner p {
    font-size: 16px;
   
}


 }


@media (max-width: 991px) and (min-width:768px) { 

  .topbanner h1 {
    font-size: 43px;
   
    line-height: 48px;
  
}

.topbanner p {
    font-size: 20px;
   
}


}




@media (max-width:1999px) and (min-width:922px) {
 
  .banner {
 padding-top: 100px; 
}

.topbanner h1 {
    font-size: 42px;
    line-height: 40px;
  
}

 }
/*****************************/



/*****************download ***********/
.download {
  

    margin-top: -100px;
    padding-bottom: 140px; 
    position: relative;

}
.download img {
    position: absolute;
    right: 0px;
    top: 98px;
    display: block;
    max-width: 550px;
}



.download p {
    color: #93aac9;
}

.download a {
    max-width: 217px;
    border-radius: 50px;
    background: #25365d;
    border: 1px solid #25365d;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    margin-top: 60px;
}

.download a:hover {
    background: #ff2868;

}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {

.download img {
    right: 0;
    max-width: 457px;
    top: 123px;
}

}



@media only screen and (min-width: 960px) and (max-width: 1023px) {

.download img {
    right: 0;
   max-width: 457px;
    top: 140px;
}

.download {
    margin-top: -50px;
}





}



@media only screen and (min-width: 768px) and (max-width: 959px) {

.download img {
    position: relative;
    width: 100%;
    right: 0;
}
.download h5 {
    padding-right: 0;
}
.download {
    margin-top: 0;
    padding-bottom: 100px;
}
.download h2 {
    margin-bottom: 10px;
}

.download a {
    margin-top: 20px;
    margin-bottom: 20px;
}

}


@media only screen and (max-width: 767px) {

.download img {
    position: relative;
    width: 100%;
    right: 0;
}
.download h5 {
    padding-right: 0;
}
.download {
    margin-top: 0;
    padding-bottom: 161px;
}
.download h2 {
    margin-bottom: 10px;
}
h2 {
    font-size: 30px;
    line-height: 31px;
}
.download a {
    margin-top: 20px;
    margin-bottom: 20px;
}

}




@media only screen and (max-width: 479px) {
    
.download p span {
    margin-right: 5px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

}

/*************8download ***********/
/**************download bottom **********************/
#download_bottom {
    background:#f7f9f8;
    padding-top: 40px;
}


@media only screen and (max-width: 767px) {
    
.download_bottom  {
    text-align: center;
    padding-bottom: 30px;
}

}


/**************************/
/*********our feature********/
#our_feature {
    padding-top: 60px;
}
#our_feature img {
    width: 100%;
}



/***********plan*********/
#plan {
     background:#f7f9f8; 
     padding: 150px 0 110px;
}
.plan{
    background: #fff;
}

.plan h3 {

    font-size: 18px;
    line-height: 36px;
    color: #5a5a5a;

}

.plan h2 {
    padding: 40px 0;
}

.plan h2 span {
    font-size: 22px;
    line-height: 36px;
    font-family: 'Open Sans', sans-serif;
    color: #5a5a5a;
}


.contact_info h4 {
    font-size: 22px;
    color: #25365d;
    margin: 15px 0 25px;
}

.contact_info a {
    margin: 50px 30px 0;
    display: inline-block;
    font-size: 22px;
    color: #25365d;
    font-weight: 700;
}
/***************end plane********/
/**********footer*****/
#upper_footer {
    margin-top: 140px;
}

#upper_footer h1 {
  
    margin-bottom: 50px;
    font-family: Oswald;

}
footer {
    background: url(../img/bottombanner.jpg) no-repeat bottom center;
    min-height: 701px;
    background-size: cover;
}
footer p {
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}
/*************/